{% for comment in comment_list %}
    <li class="comment">
        <div class="vcard bio">
            {% if comment.user.avatar is not null %}
                <img src="{{ comment.user.avatarUploadDir }}/{{ comment.user.avatar }}" alt="User avatar">
            {% else %}
                <img src="/images/member-default.jpg" alt="User avatar">
            {% endif %}            
        </div>
        <div class="comment-body">
            <h3>{{ comment.user.userName }}</h3>
            <div class="meta">{{ comment.creationDate|date("M d, Y \\a\\t g:ia") }}</div>
            <p>{{ comment.message }}</p>
        </div>
    </li>
{% endfor %}
