<!-- media edit form start -->
<div id="media-form-content" class="form-group">

    {% if app.request.get('action') is same as('edit') or app.request.get('action') is same as('add') %}        

        {% if app.request.get('action') is same as('edit') %}
            <div class="title">EDIT MEDIA</div>
        {% endif %}
        {% if app.request.get('action') is same as('add') %}
            <div class="title">ADD MEDIA</div>
        {% endif %}
        <div class="subtitle">Choose a picture or paste a video url</div>

        <div class="form-group radio">
            <input type="radio" id="js-radio-picture" class="media-type" name="mediaType" value="picture" checked><span>Picture</span>
            <input type="radio" id="js-radio-video" class="media-type" name="mediaType" value="video"><span>Video</span>
        </div>

        <div class="min-height">

            <div class="picture">
                {{ form_start(pictureForm) }}

                {% for message in app.flashes('picture-error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('picture-success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_row(pictureForm.url) }}
                <div class="note">Supported formats : JPEG, PNG, GIF</div>

                <button type="submit" id="change-avatar-submit" class="btn py-3 px-4 btn-primary" data-valid="{% if pictureForm.vars.valid %}true{% endif %}" data-submitted="{% if pictureForm.vars.submitted %}true{% endif %}">Send</button>

                {{ form_end(pictureForm) }}
                
            </div>

            <div class="video">
                {{ form_start(videoForm) }}

                {% for message in app.flashes('video-error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('video-success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_row(videoForm.url, { 'attr': { 'placeholder': '<iframe>...</iframe>' }}) }}
                <div class="note">Supported : Youtube, DailyMotion, Vimeo</div>

                <button type="submit" class="btn py-3 px-4 btn-primary" data-valid="{% if pictureForm.vars.valid %}true{% endif %}" data-submitted="{% if pictureForm.vars.submitted %}true{% endif %}">Send</button>

                {{ form_end(videoForm) }}
            </div>        

        </div>

    {% endif %}

    {% if app.request.get('action') is same as('delete') or app.request.get('action') is same as('confirm_deletion') %} 

        <div class="title">DELETE MEDIA</div>
        <div class="subtitle">Delete a media</div>

        <div class="min-height">

            {% for message in app.flashes('delete-media-error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('delete-media-success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}


            {% if app.request.get('action') is same as('delete') %} 
                <p>Are you sure you want to delete this media ?</p>
                <div class="delete-media-control">
                    <button type="submit" id="delete-media-confirm" class="btn py-3 px-4 btn-danger" data-url="{{ path('edit_media', {trickSlug: trick.slug, action: 'confirm_deletion', mediaId: media.id}) }}">Delete media</button>
                    <button type="submit" id="delete-media-cancel" class="btn py-3 px-4 btn-primary">Cancel</button>
                </div>
            {% endif %}

        </div>
        

    {% endif %}
    
</div>

<!-- media edit form end -->
