            <!-- main view start -->
            <section class="container bg-light main-view">
              <div class="row no-gutters main-view-media" id="js-main-view-media">
                  {{ createMediaHtml('/gallery', trick.mediaHeader)|raw }}
              </div>
              <div class="row no-gutters align-items-center justify-content-center main-view-title">
                <div class="col-md-9 ftco-animate text-center pt-5 mt-md-5">
                  <h1 class="mb-3 bread">{{ trick.name }}</h1>
                </div>
              </div>
              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="tools">
                  <a href="{{ path('edit_trick', {trickSlug: trick.slug, action: 'edit'}) }}" class="oi oi-pencil"></a>
                  <span class="oi oi-trash js-delete-trick" data-url-confirmation="{{ path('edit_trick', {trickSlug: trick.slug, action: 'confirm_deletion'}) }}"></span>
                </div>
              {% endif %}
            </section>
            <!-- main view end -->

            <a name="form"></a>

            <!-- media list start -->
            <section class="container bg-light content">

                <div class="row d-flex load-more display-media">
                    <div id="js-display-media" class="btn btn-load-more">
                        <div class="loader">
                            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewbox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                                    <animateTransform attributetype="xml" attributename="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatcount="indefinite"/>
                                </path>
                            </svg>
                        </div>
                        <div class='txt'>See medias</div>
                    </div>
                </div>

                <div class="row" id="media-list" data-media-list-url="{{ path('media_list_edit', {trickSlug: trick.slug}) }}">
                  {% for media in trick.media %}

                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                      <div class="media-container">
                        {{ createMediaHtml(media.getUploadDir, media.url)|raw }}
                        <div class='media-hover align-items-center text-center'>
                          <div style='width: 100%;'>
                            <i class='oi oi-zoom-in'></i>
                          </div>
                        </div>
                      </div>
                      {% if is_granted('IS_AUTHENTICATED_FULLY') and 'edit' in app.request.uri %}
                        <div class="tools">
                          <i class="oi oi-pencil edit" data-url="{{ path('edit_media', {trickSlug: trick.slug, action: 'edit', mediaId: media.id}) }}"></i>
                          <i class="oi oi-trash delete" data-url="{{ path('edit_media', {trickSlug: trick.slug, action: 'delete', mediaId: media.id}) }}"></i>
                        </div>
                      {% endif %}
                    </div>

                  {% endfor %}
                  {% if trick.media.count < 6 %}
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                      <div class="add-media add" data-url="{{ path('edit_media', {trickSlug: trick.slug, action: 'add'}) }}"><i class="fas fa-plus-circle"></i></div>
                    </div>
                  {% endif %}
                </div>

            </section>
            <!-- media list end -->
