{% extends '/layout.html.twig' %}

{% block title %}SnowTricks - View Trick : {% endblock %}

{% block content %}
    
    <div class="single-tricks-page">

        <section class="ftco-section tricks-list">
            <div class="container bg-light main-view">
              <div class="row no-gutters main-view-media" id="js-main-view-media">
                {% for media in trick.media %}
                  {% if media.isHeader %}
                    {{ createMediaHtml('/gallery/', media.url)|raw }}
                  {% endif %}
                {% endfor %}
              </div>
              <div class="row no-gutters align-items-center justify-content-center main-view-title">
                <div class="col-md-9 ftco-animate text-center pt-5 mt-md-5">
                  <h1 class="mb-3 bread">{{ trick.name }}</h1>
                </div>
              </div>
              <div class="tools">
                <a href="" class="oi oi-pencil"></a>
                <a href="" class="oi oi-trash"></a>
              </div>
            </div>
            <div class="container bg-light content">
              {% if trick.media.count > 0 %}
                <div class="row d-flex load-more display-media">
                    <div id="js-display-media" class="btn btn-load-more">
                        <div class="loader">
                            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewbox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                                    <animateTransform attributetype="xml" attributename="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatcount="indefinite"/>
                                </path>
                            </svg>
                        </div>
                        <div class='txt'>See medias</div>
                    </div>
                </div>
                <div class="row" id="media-list">
                  {% for media in trick.media %}
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                      <div class="media-container">
                        {{ createMediaHtml('/gallery/', media.url)|raw }}
                        <div class='media-hover align-items-center text-center'>
                          <div style='width: 100%;'>
                            <i class='oi oi-zoom-in'></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}

              <div class="row">
                <div class="col-lg ftco-animate description">
                  {{ trick.description }}
                </div>
              </div>

              <div class="row trick-creation-info">
                <div class="col ftco-animate">
                  <b>Created</b><br />{{ trick.creationDate|date("M d, Y \\a\\t g:ia") }}
                </div>
                {% if trick.modificationDate is not null %}
                  <div class="col ftco-animate">
                    <b>Modified</b><br />{{ trick.modificationDate|date("M d, Y \\a\\t g:ia") }}
                  </div>
                {% endif %}                
                <div class="col ftco-animate">
                  <b>Author</b><br />John McLane
                </div>
                <div class="col ftco-animate">
                  <b>Category</b><br /><a href="/tricks/{{ trick.category.slug }}">{{ trick.category.name }}</a>
                </div>
              </div>

              <div class="row">

                <div class="pt-5 mt-5 comments-section">

                  <div class="comment-form-wrap pt-5 leave-comment">
                    <form action="#" class="bg-light p-4">
                      <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="" id="message" cols="30" rows="3" class="form-control"></textarea>
                      </div>
                      <div class="form-group">
                        <input type="submit" value="Leave a comment" class="btn py-3 px-4 btn-primary">
                      </div>
                    </form>                    
                  </div>

                  <h2 class="mb-5">{{ trick.comments.count }} comments</h3>
                  <ul class="comment-list">
                    <div id="js-comment-list">
                    </div>
                  </ul>
                  
                </div>
              </div>

              <div class="row d-flex load-more load-more-ajax load-more-comment">
                  <div id="js-load-more-comment" class="btn btn-load-more">
                      <div class="loader">
                          <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewbox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                              <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                                  <animateTransform attributetype="xml" attributename="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatcount="indefinite"/>
                              </path>
                          </svg>
                      </div>
                      <div class='txt'>Load more</div>
                  </div>
              </div>
              <div id='js-load-parameters' data-trick="{{ trick.id }}" data-first-result="0" data-max-results="{{ constant('App\\Entity\\Comment::NUM_ITEMS') }}" data-total-results="{{ trick.comments.count }}" data-order-by="creationDate-ASC"></div>
            </div>


        </section>

    </div>


{% endblock %}
