{% extends 'layout.html.twig' %}

{% block title %}SnowTricks - Sign in{% endblock %}

{% block content %}
    
    <div class="user-page">

        <section class="ftco-section">

            <div class="container bg-light">

                <div class="row d-flex heading">
                    <div class="col ftco-animate text-center">
                        <h1>
                            <a href="{{ path('app_login')}}">Account</a>
                        </h1>
                        <h2 class="subheading">View Account</h2>
                    </div>
                </div>

                <div class="row d-flex view-account">

                    <div class="col ftco-animate text-center">

                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}

                        <div class="row">
                            <div class="col-5 text-right">User name :</div>
                            <div class="col-7 text-left">{{ user.userName }}</div>
                        </div>

                        <div class="row">
                            <div class="col-5 text-right">Email :</div>
                            <div class="col-7 text-left">{{ user.email }}</div>
                        </div>

                        <a class="account-link inline" href="{{ path('manage_account') }}">Manage account</a> - 
                        <a class="account-link  inline" href="{{ path('app_logout') }}">Logout</a>


                    </div>

                </div>

            </div>

        </section>

    </div>


{% endblock %}
