{% extends 'layout.html.twig' %}

{% block title %}SnowTricks - Reset password{% endblock %}

{% block content %}
    
    <div class="user-page">

        <section class="ftco-section user-page-section">

            <div class="container bg-light user-page-box">

                <div class="row d-flex heading">
                    <div class="col ftco-animate text-center">
                        <h1><a href="{{ path('app_reset_password')}}">Reset password</a></h1>
                        <h2 class="subheading">Create a new password</h2>
                    </div>
                </div>

                <div class="row d-flex form">
                    <div class="col ftco-animate text-center">
                        
                        {{ form_start(form) }}

                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                                
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            {{ form_row(form.password, { 'attr': { 'placeholder': 'Choose a password (6 to 20 cars)' }}) }}

                            <input type="hidden" name="token" value="{{ token }}">
                            <button type="submit" class="btn py-3 px-4 btn-primary">Reset</button>

                        {{ form_end(form) }}

                    </div>
                </div>

            </div>

        </section>

    </div>

{% endblock %}
